# Virtual Environment
venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/
pythonenv*

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
