# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Conda environment artifacts (just in case)
*.conda
*.ipynb_checkpoints

# VSCode or PyCharm
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Conda environment export
env.yml
environment.yml

# If you accidentally included conda folders
env/
.venv/

data/cifar-10-binary.tar.gz


